<div class="main-section">
    <span class="main-section__title">{{modelName}}</span>
    <div ng-show="!showForm">
        <div class="main-section__content">
            @RenderSection("TableContent")
        </div>
    </div>

    <div ng-show="showForm" style="padding: 0px 5px 0px 5px;">
        <div id="progress"></div>
        <div class="card mt++">
            <lx-tabs indicator="blue-200" layout="inline">
                <ul class="tabs__links bgc-white">
                    <li ng-repeat="tab in tabPages">
                        <a id="{{tab}}"
                           class="tabs-link"
                           ng-click="setSelectedTab($index)"
                           lx-ripple="green-200">{{tab}}</a>
                    </li>
                </ul>
            </lx-tabs>

            @RenderSection("tab1Content", false)
            @RenderSection("tab2Content", false)
            @RenderSection("tab3Content", false)
            @RenderSection("tab4Content", false)
            @RenderSection("tab5Content", false)
            <div class="divider divider--dark"></div>
            <div class="dialog__actions" ng-show="selectedTab === 0">
                <button class="btn btn--m btn--black btn--flat" lx-ripple ng-click="closeForm()">Back</button>
                <button class="btn btn--m btn--blue btn--raised" lx-ripple ng-click="submit()">{{submitButtonText}}</button>
            </div>
        </div>
    </div>
</div>

